body {
    font-family: 'Poppins', sans-serif;
    padding: 60px 0px;
    color: #3d3d3f;
    
}


.social-media {
    padding:0 20px;
    list-style-type: none;
}
.social-media a{
    color: black;
     width: 20px;
}


.left-side {
    padding: 5px;
    background-color: #FAFCFC; 


}
.right-side {
    padding: 25px 0; 
  background-color: #FCFEFE;
}

#content {
    background-color: #fff;
    border: 1px solid  lightgray;

}

section {
    padding: 10px 20px;  
}

.section-title{
	margin-bottom: 15px;
}
.main {
    position: relative;
}

@media (max-width: 600px) {
    body {
       padding-top: 0;
    }
    footer{
    	padding-bottom: 10px;
    }
 


    }
   
}

 .university{
 	font-size: 16px;
 }

 .company, .university-name{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
}

  .date {
        
    font-size: 14px;
    font-weight: 500;
     position: absolute;
        right: 0;
        top: 0;
        

    }

.upper-row {
    position: relative;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
}

.project-name, .title, .training-title {
    font-size: 14px;
    margin-bottom: 5px;
}

.center{
	width: 100%;
	padding: 50px;	
	background-color: #56CECE;
}


.hobbies li, .languages li{
list-style-type: none;

}

footer{
	text-align: center;

}
